.header
{
    width: 100%;
    background: rgb(107, 2, 2);
    height: 50px;
    float: left;
}
body{
    margin: 0;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
}
 
  .homecontainer
  {
    width: 100%;
    height: 1590px;
    border:white solid; 
  }
  .homeheader
  {
    width: 17%;
    float:left;
    height: 45px;
    border: rgb(99, 6, 6) solid;
    border-style:inset;
    border-color: white;
    padding-left: 32px;
    padding-top:30px;
    background-color: maroon;
  }
  .homeheader:hover
  {
    background-color: brown;
  }
 
  .homebuttons
  {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    
  }
  .logologin
  {
   width: 200px;
   height: 120px;
   float:left;
   padding-left: 20px;
  }
  .sidebar
  {

    width: 20%;
    height: 1560px;
    float: left;
    margin-top: 30px;
  }
  .sidebar1
  {
    position: relative;
    display:block;
    margin-bottom: 5px;
   
  }
  .sidebar1content
  {
    display: none;
    position: absolute;
    background-color: #c1bbbb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 0;
  }
  .side1button
  {
   background-color: rgb(171, 24, 24);
   color:white;
   font-size: 20px;
   padding:12px 16px;
   margin-top: 5px;
   cursor: pointer;
   width: 80%;
   border: none;
  }
  .sidebar1content a{
 
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    
  }
  .sidebar1:hover .sidebar1content
  {
  display: block;
  }
  .sidebar1:hover  .side1button
  {
    background-color: rgb(100, 30, 34);
  }
  .sidebar1content a:hover
  {
   background-color: aliceblue;
  }
  /*for sidebar1 */
  .sidebar2
  {
    position: relative;
    display:block;
    margin-bottom: 5px;
   
  }
  .sidebar2content
  {
    display: none;
    position: absolute;
    background-color: #c1bbbb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 0;
  }
  .side2button
  {
   background-color: rgb(171, 24, 24);
   color:white;
   font-size: 20px;
   padding:12px 16px;
   margin-top: 5px;
   cursor: pointer;
   width: 80%;
   border: none;
  }
  .sidebar2content a{
 
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    
  }
  .sidebar2:hover .sidebar2content
  {
  display: block;
  }
  .sidebar2:hover  .side2button
  {
    background-color: rgb(100, 30, 34);
  }
  .sidebar2content a:hover
  {
   background-color: aliceblue;
  }
  /*Home */
  .homecontent
  {
   
    width: 80%;
    height: 1510px;
    margin-top: 80px;
    margin-left: 20%;
  }
  .homefooter
  {
    background-color: rgb(123, 38, 38);
    width: 100%;
    height: 50px;
    color: white;
  }
  .homefooter a
  {
  color: white; 
  text-decoration: none;
  padding: 20px;
  }
  .themeimage
  {
    margin-left: 20%;
  }

 .login-container
 {
width: 100%;
height: 500px;
padding-left: 400px;
padding-top: 150px;
background: rgb(200, 194, 194);
 }
 .login-form
 {
  width: 350px;
  height: 300px;
  padding-left: 30px;
  margin-left: 30px;
  border: blue solid;
  border-style: none;
  background-color:maroon;
 }
 .inputformat
 {
  width: 300px;
  height:35px;
 }
 .login-button
 {
  width: 180px;
  height: 30px;
  padding-left: 120px;
  }
  .forhover:hover
  {
  background-color: blue;
  }
  .login-forgotten
  {
    text-decoration: none;
    color: white;
    
  }
  .homeh1
  {
    color:green;
    margin-left: 20%;
  }
  .h2
  {
    color: darkblue;
    padding-left: 30%;
  }
  .basic-h2
  {
    color:darkblue;
    font-size:26px;
    
  }

  .loginh1
  {
    color: green;
    
  }
  .liststyle
  {
    list-style: none;
  }
  /*Styles for Basic page */
  .basic-container
  {
    width: 100%;
    height: 2600px;
    background-color: #eae4e4;
  }
  .basic-header
  {
    width: 100%;
    height: 80px;
    background-color: maroon ;
    color: white;
    float:left;
    margin-top: 20px;
    
  }
  .spanclass
  {
    color: rgb(168, 22, 159);
    font-weight: bold;
    font-size: 14px;
  }
  .basic-body1
  {
    width: 33%;
    height: 500px;
    border:none;
    float:left;
    margin-right: 2px;
  }
  .basic-body2
  {
    width: 33%;
    height: 400px;
    border:none;
    float:left;
  }
  .basic-body3
  {
    width: 33%;
    height: 500px;
    border:none;
    float:left;
    margin-top: 50px;
    background-color: rgb(239, 218, 218);
  }
  .basic-body4
  {
    width: 100%;
    height: 1000px;
    float:left;
   
  }
  .basic-paragraph
  {
    width: 100%;
    height: 200px;
    
  }
  .basic-image1
  {
    width: 49%;
    height: 350px;
    float:left;
    margin-left: 1px;
  }
  .basic-image2
  {
    width: 49%;
    height: 350px;
    float:left;
    margin-left: 5px;
  }
  .basic-video
  {
    float:left;
  }
  .basicimage
  {
    object-fit:fill;
    width: 100%;
    height: 100%;
  }
  .PDCAimage
{
  width: 90%;
  height: 200px;
  margin-left: 10px;
}
/*Midlevel page */
 .midcontainer
 {
  width: 100%;
  height: 3000px;
  border: blue solid;
  background-color: #eae4e4;
 }
.midheader
{
  width: 100%;
  height: 80px;
  color: white;
  background-color: maroon;
  padding-top: 10px;
}
.midlevelh3
{
  color: darkblue;
  font-size: 20px;
  font-weight: bold;
}
.midbody1
{
  width: 100%;
  background-color: beige;
  height: 450px;
}
.midbody2
{
  width: 100%;
  background-color: #eae4e4;
  height: 550px;
}
.midfooter
{
  width: 100%;
  height: 50px;
  background-color: maroon;
  color: white;
  padding-left: 500px;
  padding-top:2px;
}
 .basicfooter
 {
  width: 100%;
  height: 50px;
  background-color: maroon;
  float:left;
  color: white;
  padding-left: 500px;
 }
 /*Advanced page formatting*/
.advcontainer
{
  width: 100%;
  height: 6500px;
  /*border: blueviolet solid;*/

} 
.advheader
{
  width: 100%;
  height: 80px;
  color:white;
  background-color: maroon;
}
